body {
    font-family: Roboto, sans-serif;
    margin: 3rem;
    /* display: flex; 
    
    
    flex-direction: column; 
 align-items: center; */
  

    background-image: url('./pics/light-background.jpg');
    background-attachment: fixed;
    background-position: top;
    background-size: cover; 
    
}



.main-section {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    /* border: 5px #555555 solid;
    border-radius: 10px; */
    padding: 20px 20px;
}





@media screen and (min-width:781px) and (max-width:1031px) {
    .add-item-input {
        width: 60%;
    }
}

@media screen and (max-width:780px) and (min-width:375px) {
    .main-section {
        width: 100%;
    }
}

@media screen and (max-width:551px) {

    .main-section {
        width: 120%;
    }
    .add-event-btn {
        margin-top: 20px;
    }
}