
.close-btn {
    position: absolute;
    left: calc(100% - 60px);
    opacity: 0.3;
    line-height: 1;
    transition: transform 0.25s;
    transform-origin: 50% 42%;
}

.close-btn:before {
    content: "\d7";
    font-size: 30px;
    position: relative;
    /* margin:0 auto; */
    top: -3px;
}

.close-btn:hover {
    opacity: 1;
    transform: rotate(90deg);
}
